In [1]:
# Python Program to Check Prime Number
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True

    if num % 2 == 0 or num % 3 == 0:
        return False

    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6 # compound assignment program

    return True

# result 
num = int(input("Enter a number: "))
if is_prime(num):
    print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 4
4 is not a prime number.

In [2]:
# To Print all Prime numbers Btwn 1 to 100
def is_prime(n):
    if n <= 1:
        return False
    i = 2
    while i*i <= n:
        if n % i == 0:
            return False
        i += 1
    return True
 

n = 2
count = 0
while count < 25:
    if is_prime(n):
        print(n)
        count += 1
    n += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [5]:
# factorial of given number
def factorial(n):

    return 1 if (n==1 or n==0) else n * factorial(n - 1) 


num = 8
print("Factorial of",num,"is",factorial(num))

Factorial of 8 is 40320

In [5]:
from datetime import date

In [6]:
my_date=date(2000,2,21)
my_date

datetime.date(2000, 2, 21)

In [7]:
today1=date.today()
print("Today's date is", today1)

Today's date is 2023-11-02

In [8]:
today1.isoweekday()

4

In [9]:
print('current year:', today1.year)
print('current month:',today1.month)
print('current day:',today1.day)

current year: 2023
current month: 11
current day: 2

In [10]:
from datetime import datetime as dt
date1=dt.now()
date1

datetime.datetime(2023, 11, 2, 14, 42, 29, 872394)

In [4]:
from datetime import date, timedelta

In [5]:
# Task:- Calculate your age after 5000 days.
## The output should be in years

#1. Find todays date
todaysdate=date.today()
print('today:', todaysdate)

#2. future date after 5000 days
futuredate=todaysdate+timedelta(days=5000)
print('Future date after 5000 days is: :', futuredate)

#3. create a date object with date of birth
dob=date(2000,2,21)
print('Date of birth is:', dob)

#4. Calculate age by substracting two dates
age=(futuredate.year-dob.year)
print('Age:', age)

today: 2023-11-02
Future date after 5000 days is: : 2037-07-11
Date of birth is: 2000-02-21
Age: 37

In [131]:
l1=list([1,2,3,4,5])
print(l1)

[1, 2, 3, 4, 5]

In [132]:
len(l1)

5

In [123]:
mylist=['one','two','three','four','five','six','seven','eight']

In [124]:
mylist[6]

'seven'

In [5]:
mylist[-1:-3:-1]

['eight', 'seven']

In [35]:
mylist=['one','two','three','four','five','six','seven','eight']
mylist.append('eight')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'eight']

In [36]:
#Add,remove and change items
mylist.remove('six')
mylist

['one', 'two', 'three', 'four', 'five', 'seven', 'eight', 'eight']

In [85]:
mylist=['one','two','three','four','five','six','seven','eight','nine','ten']
mylist.insert(2,3)
print(mylist)

['one', 'two', 3, 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [140]:
list1=['one','two','three','four']
list2=['five','six','seven','eight','nine']

In [141]:
list3=list1+list2
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [142]:
list2.extend(list1)
print(list2)

['five', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [143]:
list1.extend(list2)
print(list1)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [144]:
list1.insert(0,list2)
print(list1)

[['five', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four'], 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

## Membership

In [146]:
'one' in list1

True

In [92]:
10 in list1

False

In [93]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [94]:
4 in list1

True

In [95]:
8 in list1

False

## Reverse and Sort List

In [ ]:
list1=[2,3,6,4,7]
list1.reverse()
list1

In [97]:
list1[ -1:-8:-1]

[2, 3, 6, 4, 7]

In [98]:
list1.sort()

In [99]:
list1

[2, 3, 4, 6, 7]

In [100]:
mylist3=[3,4,5,6,7]
mylist3.sort(reverse=True)
mylist3

[7, 6, 5, 4, 3]

In [101]:
#instances or object

## All/Any

In [ ]:
L1=[1,2,3,4,5,6]
L3=[1,2,3,4,0]

In [103]:
all(L3)

False

In [104]:
any(L1)

True

In [105]:
L2=['a','b','c']

In [106]:
print(any(L2))

True

In [107]:
print(all(L2))

True

## Tuples
## Tuple Creation

In [ ]:
tup1=()
len(tup1)

In [109]:
type(tup1)

tuple

In [110]:
tup2=(10,20,30)

In [111]:
tup3=(10.7,1.2,1.2,1.3)

In [112]:
tup4=('one','two','three')

In [113]:
tup5=('Data',25,(50,100),(150,90))

In [114]:
tup6=(100,'Data', 1.22)

In [164]:
tup7=['Data',25,[(1,2,3),90],[30,2],{'ss','dd'},[(4,5,6),70],[90,99]]
len(l1[2])

2

In [166]:
tup7=['Data',25,[(1,2,3),90],[30,2],{'ss','dd'}]
tup7

['Data', 25, [(1, 2, 3), 90], [30, 2], {'dd', 'ss'}]

In [167]:
sum=tup7[2][0][0]+tup7[2][0][1]
tup7.append(sum)
print(tup7)

['Data', 25, [(1, 2, 3), 90], [30, 2], {'dd', 'ss'}, 3]

In [171]:
tup7[2][0][1]

2

In [119]:
#Tuple Indexing
#Tuple Slicing
#Remove and Change Items0

In [ ]:
#Count
#Tuple Membership
#Sorting

In [1]:
#Sets
#Set creation
myset=set()
print(type(myset))

<class 'set'>

In [2]:
myset={1,2,3,4,5,5}

In [3]:
myset

{1, 2, 3, 4, 5}

In [4]:
type(myset)

set

In [5]:
len(myset)

5

In [6]:
#Set membership
#Add and remove
myset.update(['TEN','TWO'])
myset

{1, 2, 3, 4, 5, 'TEN', 'TWO'}

In [7]:
myset.update('ONE')

In [8]:
myset

{1, 2, 3, 4, 5, 'E', 'N', 'O', 'TEN', 'TWO'}

In [9]:
myset.remove('O')
myset

{1, 2, 3, 4, 5, 'E', 'N', 'TEN', 'TWO'}

In [ ]:
#Discard

In [10]:
myset.clear()
myset

set()

In [11]:
del myset

In [12]:
myset

NameError: name 'myset' is not defined

In [13]:
#Set operations
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [14]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
A={1,2,3,4,4,5}
B={4,4,5,6,7,8}

In [20]:
A.intersection(B)

{4, 5}

In [21]:
A.difference(B)

{1, 2, 3}

In [22]:
B.difference(A)

{6, 7, 8}

In [23]:
#Dictionary
#Task: Create a Dictonary and store full address
d={}
d

{}

In [1]:
Address={ 'HNO':'#1',
        }

In [6]:
#Add and Remove and Change

TypeError: 'tuple' object is not callable

In [13]:
#('Enter the name','Enter the profession', 'Enter the email')
#print(myset)

In [17]:
myset1={}

In [18]:
myset=set()

In [2]:
cart={1:{'name':"A",'price':10},2:{'name':"B",'price':20}}
total=0
for item in cart:
      for i in cart[item]:
            if i=='price':
                total=total+cart[item][i]
print(total,"Total")

30 Total

In [2]:


def prime(n):
    if n<=1:
        return False
    if n<=3:
        return True
    if n%2==0 or n%3==0:
        return False
    i=5
    while i*i<=n:
        if n%i==0 or n%(i+2)==0:
            return False
        i+=6
        return True
    
numbers=[1,2,3,4,5,6,7,8,9]
print('List of integers:')
print(numbers)

primenumbers=list(filter(prime,numbers))
print('Extract prime numbers of the list:')
print(primenumbers)

List of integers:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
Extract prime numbers of the list:
[2, 3]