##### Weekly Assignment of Ai with Python - Module 1. 04-11-2023
Last date of submission: 06-11-2023
______________________________________________________________________________

##### 1. Write a Python program which accepts a sequence of comma-separated numbers from user and generate a list  with those numbers

In [1]:
#code
A=input('enter the value of a:')
B=input('enter the value of b:')
C=input('enter the value of c:')
list1=[A,B,C]
list1

enter the value of a:12
enter the value of b:13
enter the value of c:14

['12', '13', '14']

##### 2. Write a Python program to accept a filename from the user and print the extension of that

In [2]:
# code
# Input from the user
filename = input("Enter a filename: ")

# Split the filename by the dot to get the extension
file_extension = filename.split(".")[-1]

# Print the file extension
print("File extension:",file_extension)

Enter a filename: python.file
File extension: file

##### 3. Write a Python program to display the first and last colors from the following list color_list = ["yellow","Green","grey" ,"orange"]

In [5]:
#code
color_list=["yellow","green","grey","orange"]
color_list
# Display the first color
print("The first color is:",color_list[0])

# Display the last color
print("The last color is:",color_list[-1])

The first color is: yellow
The last color is: orange

##### 4. Write a program that checks if a given string is a palindrome.

In [7]:
# Explain

# Code# Input from the user
input_string = input("Enter a string: ")

# Check if the input string is a palindrome
if input_string == input_string[::-1]:
    print("The input string is a palindrome.")
else:
    print("The input string is not a palindrome.")

Enter a string: RADAR
The input string is a palindrome.

##### 5. Return the count of sub-string “Shubhangi” appears in the given string - "Shubhangi is good developer. Shubhangi is a Data Scientist"

In [8]:
# Codeinput_string = "Shubhangi is good developer. Shubhangi is a Data Scientist"

# Sub-string to search for
sub_string = "Shubhangi"

# Count the occurrences of the sub-string in the input string
count = input_string.count(sub_string)

# Print the count
print("The sub-string '{}' appears {} times in the given string.".format(sub_string,count))

The sub-string 'Shubhangi' appears 0 times in the given string.

##### 6. Write a function to calculate area and perimeter of a rectangle.

In [9]:
# code
def calculate_rectangle_area(length, width):
    area = length * width
    return area

def calculate_rectangle_perimeter(length, width):
    perimeter = 2 * (length + width)
    return perimeter

# Input the length and width of the rectangle
length = int(input("Enter the length of the rectangle: "))
width = int(input("Enter the width of the rectangle: "))

# Calculate and print the area and perimeter
area = calculate_rectangle_area(length, width)
perimeter = calculate_rectangle_perimeter(length, width)

print("Area of the rectangle:",area)
print("Perimeter of the rectangle:",perimeter)

Enter the length of the rectangle: 8
Enter the width of the rectangle: 10
Area of the rectangle: 80
Perimeter of the rectangle: 36

##### 7. Write a function to tell user if he/she is able to vote or not.

In [10]:
# code
def check_voting_eligibility(age):
    if age >= 18:
        return "You are eligible to vote."
    else:
        return "You are not eligible to vote yet."

# Input the user's age
age = int(input("Enter your age:"))

# Check and print voting eligibility
result = check_voting_eligibility(age)
print(result)

Enter your age:23
You are eligible to vote.

##### 8. Write a program to check if each word in a string begins with a capital letter?

In [11]:
# code
# Input from the user
sentence = input("Enter a sentence: ")

# Split the sentence into words
words = sentence.split()

# Initialize a flag to assume all words start with a capital letter
all_words_start_with_capital = True

# Check each word in the list
for word in words:
    if not word[0].isupper():
        all_words_start_with_capital = False

# Print the result
if all_words_start_with_capital:
    print("All words in the sentence start with a capital letter.")
else:
    print("Not all words in the sentence start with a capital letter.")

Enter a sentence: World of Fantasy
Not all words in the sentence start with a capital letter.

##### 9. Write a program to Check if a string contains a specific substring.

In [7]:
# code
# Input from the user
mainstring = input("Enter a main string: ")
substring = input("Enter a substring to search for: ")

# Check if the substring is present in the main string
if substring in mainstring:
    print(f"The main string contains the substring '{substring}'.")
else:
    print(f"The main string does not contain the substring '{substring}'.")

Enter a main string: John is good at singing
Enter a substring to search for: good
The main string contains the substring 'good'.

##### 10. Capitalize the first character of a string

In [30]:
# code
input_sentence = input("Enter a sentence: ")


title_case_sentence = input_sentence.title()


print("Title Case Sentence:", title_case_sentence)

Enter a sentence: world of fantasy
Title Case Sentence: World Of Fantasy

##### 11. Reverse the string “hello world”

In [12]:
# code
#11 reversing the string
str1='Hello World'
str1
str1[-1:-12:-1] 
# Input string
input_string = "Hello World"

# Reverse the string
reversed_string = input_string[::-1]
# Print the reversed string
print("Original string:",input_string)
print("Reversed string:",reversed_string)

Original string: Hello World
Reversed string: dlroW olleH

##### 12. Write a program to display the last digit of a number. (hint : any number % 10 will return the last digit)

In [13]:
# code
# Input from the user
number = int(input("Enter a number: "))

# Calculate and print the last digit
last_digit = number % 10
print("The last digit of the number is:",last_digit)

Enter a number: 234
The last digit of the number is: 4

##### 13. Write a program to check whether an years is leap year or not.

In [14]:
# code
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 2024
2024 is a leap year

##### 14. Write a program to accept a number from 1 to 7 and display the name of the day like 1 for Sunday , 2 for Monday and so on.

In [15]:
# code
day_number = int(input("Enter a number from 1 to 7: "))

# Define a list of days
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

# Check if the input is within the valid range
if 1 <= day_number <= 7:
    # Display the day corresponding to the input
    print("The day is", days[day_number - 1])
else:
    print("Invalid input. Please enter a number from 1 to 7.")

Enter a number from 1 to 7: 4
The day is Wednesday

##### 15. Write a program to check whether a number (accepted from user) is positive or negative.

In [16]:
# code
# Input from the user
number = float(input("Enter a number: "))

# Check if the number is positive or negative
if number > 0:
    print("The number is positive")
else :
    print("The number is negative")

Enter a number: 2
The number is positive

##### 16. Write a program to whether a number (accepted from user) is divisible by 2 and 3 both.

In [17]:
# code
# Input from the user
number = int(input("Enter a number: "))

# Check if the number is divisible by both 2 and 3
if number % 2 == 0 and number % 3 == 0:
    print("The number is divisible by both 2 and 3")
else:
    print("The number is not divisible by both 2 and 3")

Enter a number: 6
The number is divisible by both 2 and 3

# List
Basic List Operations:

Create an empty list.
Add an element to the end of the list.
Insert an element at a specific position in the list.
Remove an element from the list.
Check if an element is present in the list.
List Slicing and Indexing:

Print the first element of the list.
Print the last element of the list.
Print elements from index 2 to 5 (exclusive) using slicing.
Print every alternate element of the list.
List Functions:

Find the length of the list.
Sort the list in ascending order.
Reverse the list.
Remove the last element from the list.
Clear all elements from the list.
List Comprehension:

Create a new list containing squares of elements from the original list.
Create a new list containing only even numbers from the original list.
Nested Lists:

Create a nested list containing two lists: [1, 2, 3] and ['a', 'b', 'c'].
Access the second element of the first list inside the nested list.
Modify the third element of the second list inside the nested list.
List Methods:

Use the append() method to add an element to the end of the list.
Use the count() method to count the number of occurrences of a specific element.
Use the index() method to find the index of a specific element.
Use the remove() method to remove the first occurrence of a specific element.
Use the extend() method to add elements from another list to the current list.

##### 17. Write a program that takes a list of numbers as input and calculates their sum.

In [2]:
# code
List1=[1,2,3,4]
List2=[2,3,4,5]
List3=List1+List2
List3

[1, 2, 3, 4, 2, 3, 4, 5]

##### 18. List Modification Initialize a list with elements [2, 4, 6, 8, 10]Append the number 12 to the end of the list. Remove the element 6 from the list. Print the modified list.

In [18]:
# code
# Initialize the list
List1= [2, 4, 6, 8, 10]

# Append the number 12 to the end of the list
List1.append(12)

# Remove the element 6 from the list
List1.remove(6)

# Print the modified list
print("Modified list:",List1)

Modified list: [2, 4, 8, 10, 12]

##### 19. List Operations Initialize two lists: [1, 2, 3] and [4, 5, 6]. Concatenate these lists without using the + operator. Print the concatenated list.

In [19]:
# code
# Initialize two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenate the lists using the extend() method
list1.extend(list2)

# Print the concatenated list
print("Concatenated list:",list1)

Concatenated list: [1, 2, 3, 4, 5, 6]

### Tuple 
Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable, meaning they cannot be changed once they are created. This makes them ideal for storing data that should not be modified, such as database records.

https://pynative.com/wp-content/uploads/2021/02/python-tuple.jpg

##### 20. Create and explain the working of tuple.

In [4]:
#code
tup=(1,'Kim',2,10)
tup

(1, 'Kim', 2, 10)

##### 21. Initialize and Access Tuple Elements

Initialize a tuple with elements (3, 6, 9, 12, 15).
Print the second element of the tuple.
Attempt to change the value of the second element (this will show that tuples are immutable).

In [5]:
#code
# Initialize a tuple
tup1 = (3, 6, 9, 12, 15)

# Print the second element
print("Second element of the tuple:", tup1[1])

# change the value of the second element 
tup1[1] = 7

Second element of the tuple: 6

TypeError: 'tuple' object does not support item assignment

22. Initialize a tuple with elements (7, 2, 9, 5, 1).
Find the length of the tuple.
Find the index of the element 9.
Count the number of occurrences of 2 in the tuple.

In [6]:
#code
# Initialize a tuple
tup2 = (7, 2, 9, 5, 1)

# Find the length of the tuple
length = len(tup2)
print("Length of the tuple:",length)

# Find the index of the element 9
index = tup2.index(9)
print("Index of the element 9:",index)

# Count the number of occurrences of 2 in the tuple
count= tup2.count(2)
print("Count of the element 2:",count)

Length of the tuple: 5
Index of the element 9: 2
Count of the element 2: 1

23. Set Initialization and Operations

Initialize two sets: {1, 2, 3, 4, 5} and {3, 4, 5, 6, 7}.
Find the union of the two sets.
Find the intersection of the two sets.
Find the difference between the first set and the second set.

In [23]:
#code
# Initialize two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the union of the two sets
union = set1.union(set2)
print("Union of the sets:",union)

# Find the intersection of the two sets
intersection= set1.intersection(set2)
print("Intersection of the sets:", intersection)

# Find the difference between the first set and the second set
difference = set1.difference(set2)
print("Difference between the sets (set1 - set2):",difference)

Union of the sets: {1, 2, 3, 4, 5, 6, 7}
Intersection of the sets: {3, 4, 5}
Difference between the sets (set1 - set2): {1, 2}

24. Create a list with duplicate elements [1, 2, 2, 3, 4, 4, 5, 5].
Convert the list into a set to remove duplicates.
Print the resulting set.

In [24]:
#code
mylist = [1, 2, 2, 3, 4, 4, 5, 5]

# Convert the list to a set to remove duplicates
set1 = set(mylist)

# Print the resulting set
print("Set with duplicates removed:",set1)

Set with duplicates removed: {1, 2, 3, 4, 5}

# Sets
The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections. Some of the challenges people often encounter are when to use the various data types.

25. Initialize two sets: {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}.
Check if the first set is a subset of the second set.
Check if the sets have any common elements.

In [25]:
#code
# Initialize two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Check if the first set is a subset of the second set
print("Set 1 is a subset of Set 2:",set1.issubset(set2))

# Check if the sets have any common elements
print("The sets have common elements:",bool(set1.intersection(set2)))

Set 1 is a subset of Set 2: False
The sets have common elements: True

26. Create a list with elements [10, 20, 30, 40, 50].
Convert the list into a tuple.
Print the tuple.

In [26]:
#code
# Create a list
mylist = [10, 20, 30, 40, 50]

# Convert the list to a tuple
tup = tuple(mylist)

# Print the resulting tuple
print("Tuple:",tup)

Tuple: (10, 20, 30, 40, 50)

# Dictionary 
Python dictionaries allow us to associate a value to a unique key, and then to quickly access this value. It's a good idea to use them whenever we want to find (lookup for) a certain Python object. We can also use lists for this scope, but they are much slower than dictionaries.

https://pynative.com/wp-content/uploads/2021/02/dictionaries-in-python.jpg

##### 27. Create an empty dictionary.
Add the key-value pairs: 'apple': 3, 'banana': 5, 'cherry': 2.
Modify the value of 'banana' to 8.
Remove the key 'cherry' from the dictionary.

In [27]:
#code
# Create an empty dictionary
Dict = {}

# Add key-value pairs
Dict['apple'] = 3
Dict['banana'] = 5
Dict['cherry'] = 2

# Print the initial dictionary
print("Initial dictionary:",Dict)

# Modify the value of 'banana' to 8
Dict['banana'] = 8

# Print the dictionary after modifying 'banana'
print("Dictionary after modifying 'banana':",Dict)

# Remove the key 'cherry' from the dictionary
del Dict['cherry']

# Print the dictionary after removing 'cherry'
print("Dictionary after removing 'cherry':",Dict)

Initial dictionary: {'apple': 3, 'banana': 5, 'cherry': 2}
Dictionary after modifying 'banana': {'apple': 3, 'banana': 8, 'cherry': 2}
Dictionary after removing 'cherry': {'apple': 3, 'banana': 8}

##### 28. Create a dictionary representing the number of fruits: {'apple': 3, 'banana': 8, 'orange': 6}.
Check if 'orange' is a key in the dictionary.
Print all keys and values in separate lines.

In [28]:
#code
# Create a dictionary representing the number of fruits
fruits = {'apple': 3, 'banana': 8, 'orange': 6}

# Check if 'orange' is a key in the dictionary
if 'orange' in fruits:
    print("'orange' is a key in the dictionary.")
else:
    print("'orange' is not a key in the dictionary.")
    
# Print all keys in separate lines
print("Keys:")
for key in fruits:
    print(key)

# Print all values in separate lines
print("Values:")
for value in fruits.values():
    print(value)

'orange' is a key in the dictionary.
Keys:
apple
banana
orange
Values:
3
8
6

##### 29. Create a dictionary where the keys are names of countries and the values are dictionaries containing information about the capital city and population.
Add at least three countries to the main dictionary.
Print the details (capital and population) of a specific country.

In [29]:
#code
# Create a dictionary of countries with capital city and population information
countries_info = {
     'India': {'capital': 'New Delhi', 'population': 1380004385},
     'South korea':{'capital':'Seoul','population':518158100},
    'England': {'capital': 'london', 'population':565132870},
}

# Print the details (capital and population) of a specific country
country_name = 'India'
if country_name in countries_info:
    country_info = countries_info[country_name]
    print(f"Country: {country_name}")
    print(f"Capital: {country_info['capital']}")
    print(f"Population: {country_info['population']}")

Country: India
Capital: New Delhi
Population: 1380004385

##### 30. Create a dictionary where keys are items (strings) and values are prices (floats).
Ask the user to enter items and quantities they want to purchase.
Calculate the total cost of items in the shopping cart.

In [1]:
# Create a dictionary of items and their prices
# Create a dictionary of items and their prices
item_prices = {
    "apple": 40.00,
    "banana": 30.25,
    "orange": 30.75,
    "chocolate": 15.0,
}

# Initialize an empty shopping cart
shopping_cart = {}

# Ask the user for items and quantities
while True:
    item = input("Enter an item (or 'done' to finish): ")
    if item == 'done':
        break
    quantity = int(input(f"Enter the quantity of {item}: "))
    if item in item_prices:
        if item in shopping_cart:
            shopping_cart[item] += quantity
        else:
            shopping_cart[item] = quantity
    else:
        print("Item not found in the price list. Please try again.")

# Calculate the total cost
total_cost = 0
for item, quantity in shopping_cart.items():
    if item in item_prices:
        total_cost += item_prices[item]*quantity
# Display the total cost
print(f"Total cost of items in the shopping cart: ${total_cost:.2f}")

Enter an item (or 'done' to finish): chocolate
Enter the quantity of chocolate: 6
Enter an item (or 'done' to finish): done
Total cost of items in the shopping cart: $90.00

In [ ]:
n=print(input("Enter the quantity"))
quantity=items_prices*n
quantity

In [4]:
#Simple while loop

i=1
while  i<6:
    print('While condition is true',i)
    i=i+1

While condition is true 1
While condition is true 2
While condition is true 3
While condition is true 4
While condition is true 5

In [10]:
# While loop with break
i=1
print('Start of While')
while i<6:
    print(i)
    if i==3:
         break
    i=i+1
print("End of While")

Start of While
1
2
3
End of While

In [15]:
# While loop with continue stat
i=0
while i<6:
        i=i+1
        if i==3:
                continue
        print(i)
        print('hi')

1
hi
2
hi
4
hi
5
hi
6
hi

In [16]:
i=0
while i<6:
        i=i+1
        if i>0 and i<4: # instead i==1 or 1==2 or i==3
                continue
        print(i)
        print('hi')

4
hi
5
hi
6
hi

In [17]:
# While loop with else statement

i=3
while i<6: 
    i=i+1
else:
        print('While loop condition is false')
print('hi')

3
4
5
While loop condition is false
hi

In [26]:
count=0
while (count<3):
        count=count+1
        print('Data science')

Data science
Data science
Data science

In [28]:
count=0
while (count<3):
        count=count+1
        print(count,'Data science') #or('Data science',count)

1 Data science
2 Data science
3 Data science

In [51]:
# Task: print 10 odd num using while loop
i=1

while i<=20:
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

In [58]:
i=0

while i<20:
    i=i+2
    print(i)

2
4
6
8
10
12
14
16
18
20

Even: 20
Count: 20

In [80]:
#For loop
lis=[1,2,3,4,5,6,7,3,4,6,2,54,3,45]
lis
for ele in lis: #iter and next
    d=ele+2
    print(d)
print('done with all the elements')

3
4
5
6
7
8
9
5
6
8
4
56
5
47
done with all the elements

In [36]:
    i=0
    c=0
while  i<20:
        i=i+1
        c=c+1
        if  i%2==0:
            print('Even:',i)
        
        else:
            print('Odd:',i)

print('Count:',c)

Odd: 1
Even: 2
Odd: 3
Even: 4
Odd: 5
Even: 6
Odd: 7
Even: 8
Odd: 9
Even: 10
Odd: 11
Even: 12
Odd: 13
Even: 14
Odd: 15
Even: 16
Odd: 17
Even: 18
Odd: 19
Even: 20
Count: 20

In [5]:
s="data science"
s1=[]
for i in s:
    print(i)

d
a
t
a

s
c
i
e
n
c
e

In [6]:
 s="data science"
s1=[]
for i in s:  
    print(i.upper())
    s1.extend(i.upper())
print(s1)

D
A
T
A

S
C
I
E
N
C
E
['D', 'A', 'T', 'A', ' ', 'S', 'C', 'I', 'E', 'N', 'C', 'E']

In [41]:
fruits={1:'Apple',2:'Banana',3:'Mango',4:'water'}
for i in fruits.values():
    print(i)

Apple
Banana
Mango
water

In [42]:
fruits={1:'Apple',2:'Banana',3:'Mango',4:'water'}
for i in fruits:
    print(i)

1
2
3
4

In [47]:
fruits={1:'Apple',2:'Banana',3:'Mango',4:'water'}
for i in fruits:
    if fruits[i]=='Banana':
        print(fruits[i])

Banana

In [9]:
fruits={1:'Apple',2:'Banana',3:'Mango',4:'water'}
for i in fruits:
    if fruits[i]=='Banana':
        print(i,"Found:",fruits[i])

2 Found: Banana

In [8]:
 fruits={1:'Apple',2:'Banana',3:'Mango',4:'water'}
for i in fruits:   
    if fruits[i]!='Banana':
        print(i,":",fruits[i])

1 : Apple
3 : Mango
4 : water

In [54]:
#Task: try it with tuple and set
#1.Print tuple values using for loop
#2. Print set values using for loop
myset=set()

In [70]:
set={'1,2,4,5'}
for i in set:
       print(i)

1,2,4,5

In [71]:
tup=()
tup={'1,4,data'}
for i in tup:
    print(i)

1,4,data

In [75]:
for i in range(0,10):
        print(i)

0
1
2
3
4
5
6
7
8
9

In [80]:
#Nested loops
list1=["Math","kanna","science"]
list2=[2,3,4,5]

In [81]:
for i in list1:
    for k in list2:
        print(i,k)

Math 2
Math 3
Math 4
Math 5
kanna 2
kanna 3
kanna 4
kanna 5
science 2
science 3
science 4
science 5

In [23]:
#Task:
list3=[[1,2],[3,4]]

for r in range(2):
     for c in range(2):
            print(r,c,list3[r][c])

0 0 1
0 1 2
1 0 3
1 1 4

In [90]:
for r in range(2):
     for c in range(2):
            print(r,c)

0 0
0 1
1 0
1 1

In [110]:
# Task: print the rotsl checkout amount for purchasing 2 items from cart 
# cart content:{}
cart={1:"A",'p1':10,2:"B",'p2':20}
for i in cart.values():
    print(i)

A
10
B
20

In [24]:
items={'milk:A','egg:B'}
for item in items:
    print(item)

egg:B
milk:A

In [25]:
cart={1:{'name':"A",'price':10},2:{'name':"B",'price':20}}
total=0
for item in cart:
    for i in cart[item]:
        #print(cart[item]['price'])
         print(item,i)
    total=total+cart[item]['price']
print(total)

1 name
1 price
2 name
2 price
30

In [147]:
cart={1:{'name':"A",'price':10},2:{'name':"B",'price':20}}
total=0
for item in cart:
    for i in cart[item]:
        if i=='price':
                total=total+cart[item][i]
        if i!='name':
                print(cart[item]['name'],"-",cart[item]['price'])
print("----------------------")
print('Total:',total)

A - 10
B - 20
----------------------
Total: 30

In [2]:
cart={1:"A",'p1':"10",2:"B",'p2':"20"}
total=0
for i in cart.values():
    print(i)

A
10
B
20

In [5]:
cart={1:"A",'p1':"10",2:"B",'p2':"20"}
total=0
for i in cart:
    if 'p1'=="10":
        total=total+cart[p1][10]
        print(total,"Total")

In [56]:
cart={1:{'name':"A",'p1':"10"},2:{'name':"B",'p2':"20"}}
#total=0
for i in cart:
    for j in cart[i]:
        #if i=='p1': 
        sum=cart[1][10]+cart[2][20]
        print(sum)
            #total=total+cart[i][j]
            #print(total)
            #print(i,j)

KeyError: 10

In [59]:
## Range function
# range 
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
for i in range(5):
     print(i)

0
1
2
3
4

In [77]:
for i in range(0,20,2):
 
         print(i)

0
2
4
6
8
10
12
14
16
18

In [114]:
cart={1:{'name':"A",'price':10},2:{'name':"B",'price':20}}
total=0
for item in cart:
    for i in cart[item]:
        if i=='price':
              total=total+cart[item][i]
    
print('Total:',total)

Total: 30

In [109]:
cart={1:{'name':"A",'price':10},2:{'name':"B",'price':20}}
total=0
for item in cart:
      for i in cart[item]:
            if i=='price':
                total=total+cart[item][i]
print(total,":Total")

30 :Total

In [116]:
S=[1,2,3,4,5]

In [130]:
for i in S:
    if(i%2==0):
        print(i,'Even')
    else:
        if(i%2!=0):
             print(i,'Odd')

1 Odd
2 Even
3 Odd
4 Even
5 Odd

In [131]:
# Write a program to add a key-value pair to a dictonary
dic={}

In [132]:
dic["key"]="value"
print(dic)

{'key': 'value'}

In [135]:
#Remove a specific key from the dictonary
dic={1:'Apple',2:'Banana',3:'Mango',4:'water'}
dic.pop(2)
dic

{1: 'Apple', 3: 'Mango', 4: 'water'}

In [141]:
#check if a key is present in the dictionary
1 in dic

True

In [ ]:
# Write a program to find the highest value in a dictionary
dic={"name":'20',"class":'30'}
max=max(dic.values())
max

In [ ]:
dict = {"a": '100', "b": '45', "c": '30'}
max_value = max(dict.values())
print("The highest value in the dictionary is:", max_value)

In [163]:
# arg and no return

def area_of_circle(r) :
                  area=3.14*r*r
                  print(area)

In [165]:
area_of_circle(2)

12.56

In [167]:
# with arg ans also with return
def rectangle(l,b):
    area=l*b
    return area

In [169]:
a=rectangle(3,1)
print('Area of rectangle is:',a)

Area of rectangle is: 3

In [176]:
#with return and with no argument
def squareofnum():
    a=int(input('Enter a num:'))
    return a**2

In [177]:
print("Square of a num is:",squareofnum())

Enter a num:4
Square of a num is: 16

In [219]:
#Task: Write a function to accept two num and send the to a fun and calculate
# sum of two num and return the sum
def sum_of_two_number(a,b):
    print(a)
    print(b)
    sum=a+b
    return sum
a=float(input('Enter the a value:')) 
b=float(input('Enter the b value:')) 
sum_of_two_number(a,b)

Enter the a value:2
Enter the b value:3
2.0
3.0

5.0

In [234]:
#print odd numbers between 10 to 20 using function
def oddnumbers_between_10_to_20():
    for i in range(10,21):
        if(i%2!=0):
            print(i,'odd')

In [235]:
oddnumbers_between_10_to_20()

11 odd
13 odd
15 odd
17 odd
19 odd

In [2]:
list=[]
def add():
   
    num1=[1,2,3,4]
    num2=[5,6,7,8]
    result=map(num1,num2,lambda x,y:x+y)
    result

In [14]:
list=[]
list4=['one','3','5','8','4','9','one','4','one']


list4

['one', '3', '5', '8', '4', '9', 'one', '4', 'one']

In [15]:
list4.remove('one')
list4

['3', '5', '8', '4', '9', 'one', '4', 'one']